
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Shaperator!</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
          <p>Please enter your course deets here. There is no error handling so copy wisely</p>
          <p>After submission go back to the main <a href="/">Courserator</a></p>
          <form method="post">
            <label for="shape_name">Enter your shape name</label>
            <br>
            <input type="text" name="shape_name"
                   placeholder="my_first_shape"
                   value="{{ request.form['shape_name'] }}"></input>
            <br>
            <label for="shape_coords">Enter your shape coords</label>
            <br>
            <input type="text" name="shape_coords"
                   placeholder="Enter your lat, lng coords here"
                   value="{{ request.form['shape_coords'] }}"></input>
            <br>
            <label for="start_coords">Enter your Start and Finish coords</label>
            <br>
            <input type="text" name="start_coords"
                   placeholder="Enter your two start and finish coords here"
                   value="{{ request.form['start_coords'] }}"></input>
            <br>
              <button type="submit">Submit</button>
        </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>